* {
  padding: 0;
  margin: 0;
}

:root {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#content {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr 10fr;
  min-height: 100%;
}

#header {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  min-height: 100px;
}

#sidebar {
  grid-area: 2 / 1 / -1 / 2;
  border: 1px solid black;
  /* min-height: 90vh; */
}

.active-project {
  border: 1px solid green;
}

.card {
  border: 1px solid blue;
}

.row {
  display: flex;
  justify-content: space-between;
}
